body {
    box-sizing: border-box;
    background-color: rgb(42, 65, 98);
}

#spinner {
    justify-self: center;
    align-self: center;
    place-self: center;
    vertical-align: middle;
    opacity: 0.1;
    width: 50px;
    height: 50px;
}

#sidebar {
    background-color: rgb(46, 46, 46);
    z-index: 99;
    border-radius: 20px;
    width: 120px;
    height: 95vh;
    margin: 5px 5px;
    padding: 5px;
    gap: 5px;
    display: flex;
    justify-content: top;
    flex-direction: column;
}

#sidebar img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 15px;
    margin: 10px;
}

#sidebar button {
    justify-content: center;
    width: 90%;
    height: 30px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(246, 246, 246);
    border: 2px solid #000000;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

#sidebar button:hover {
    width: 102%;
    transition: size 2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}

#sidebar button:active {
    background-color: rgba(0, 0, 0, 0.7);
}

#webview {
    width: 100%;
    height: 100%;
}

#taboverlay {
    display: none;
    z-index: 100;
}

#urlsearch {
    width: 200px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(46, 46, 46);
}