@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --color: #3579df;
    --white: #d3d3d3;
    --colordark: #17262f;
    --black: #0d0e0e;
    --dark: #292929;
}


body {
    width: 100%;
    height: 100%;
    background-color: #17262f;
    align-items: center;
}

#sidebar {
    width: 10%;
    height: 115vh;
    padding-top: 15px;
    padding-left: 12px;
    justify-content: top;
    display: flex;
    background-color: #292929;
    border-radius: 0px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    right: 99%;
    transition: 0.3s ease-in-out;
}

#sidebar:hover {
    width: 120px;
    margin-left: 2px;
    height: 100vh;
    padding-top: 15px;
    padding-left: 12px;
    justify-content: top;
    display: flex;
    background-color: #292929;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    z-index: 10;
    flex-direction: column;
    right: 100%;
    transform: translateX(100%);
    margin-left: 20px;
}

#sidebtns {
    width: 90%;
    height: 10px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbtn {
    width: 33px;
    height: fit-content;
    color: rgb(59, 59, 59);
}

#searchbar {
    width: 97.5%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--white);
    border-style: solid;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

#searchlogo {
    width: 20px;
    height: 20px;
}

#url {
    position: relative;
    width: 60vh;
    height: 80%;
    align-items: center;
    background-color: var(--dark);
    border-radius: 10px;
    border-width: 2px;
    border-color: aliceblue;
    color: white;
}

#sidetabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    padding: 5px;
}

#tab {
    width: 75%;
    height: 10%;
    color: white;
    margin-top: 20%;
    margin-right: 10%;
    display: none;
}

#view {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 0;
}